.navbar{
  padding: 20px;
  background-color: rgb(223, 224, 222);
  font-size: 20px;
}

.search{
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
}